/* Hello CSS! */
${{fontname}}-icons: (
{{sassMap}}
);

@mixin {{fontname}}-base-style {
	display: inline-block;
	font-family: '{{fontname}}';
	font-weight: normal;
  text-transform: none;
	line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin icon($iconName, $position: before) {
	&:#{$position} {
    @include {{fontname}}-base-style;
    content: "#{map-get(${{fontname}}-icons, $iconName)}";
    @content;
	}
}
